*{
  background-color: #11262D;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Quantico', sans-serif;
  font-size: 105px;
  color: #FFFBF2;

  text-align: center;
}

.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 8%;
}

.header{
  padding-bottom: .1rem;
}

.header #racing{
  font-family: 'Racing Sans One', cursive;
}
.header #subhead{
    font-size: .228rem;
}

.forum{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
}


.forum #error{
  background-color: #B95252;  
  font-size: .19rem;
  text-align: left;
}

.forum #success{
  background-color: #39710E;  
  width: .34rem;
  font-size: .19rem;
  text-align: left;
}

.forum label{
  font-size: .19rem;
  display: block;
  text-align: left;
}

.forum input{
  display: block;
  font-size: .19rem;
  color: black;
  background-color: #FFFBF2;
  border: transparent;

  width: 360px;
  height: 45px;
}

.forum input:focus{
  outline: none;
}

.forum #btn{
  border: none;
  outline: none;
}

.forum #btn_mobile{
  border: none;
  outline: none;
  display: none;
}

.container{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  margin-top: .20rem;
} 


.item1{
  justify-self: center;
  margin: .20rem;
}


.item2{
  justify-self: center;
  margin: .20rem;
}


.item3{
  justify-self: center;
  margin: .20rem;
}

.item4{
  font-size: .19rem;
}

#footer{
  text-align: right;
  font-size: .14rem;

  position: fixed;
  bottom: .5em;
  right: .5em;
}

@media only screen and (max-width: 600px){
  *{
    font-size: 72px;
  }

  .forum input{
    width: 270px;
    height: 30px;
  }
  .forum #btn{
    border: none;
    outline: none;
    display: none;
  }

  .forum #btn_mobile{
    border: none;
    outline: none;
    display: contents;
  }
}